body{
    background-color: rgb(1, 1, 24);
    color: white;
    margin: 0;
    font-family: "Exo", sans-serif;
    font-weight: 500;
}

.corpo-pagina{
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-areas: 
    "logo nav nav"
    "conteudo conteudo conteudo"
    "rodape rodape rodape"
    ;
    width: 100vw;
    height: 100vh;
    gap: 10px;
}

.corpo-pagina > .logo{
    grid-area: logo;
}

.corpo-pagina > nav{
    grid-area: nav;
}

.corpo-pagina > .conteudo{
    grid-area: conteudo;
    background-color: rgb(1, 1, 15);
}

.corpo-pagina > footer{
    grid-area: rodape;
}

.logo h1{
    /*font-size: 2vw;*/
    font-size: 20pt;
    text-align: center;
    font-family: "Lugrasimo", cursive;
    font-weight: 500;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    /*font-size: 1.45vw;*/
    font-size: 15pt;
    padding-right: 60vw;
    padding-left: 0vw;
}

nav a{
    color: white;
    text-decoration: none;

}

nav a:hover{
    text-decoration: underline;
}

footer{
    display: flex;
    justify-content: end;
    padding-right: 35vw;
}

footer a{
    margin: 10px;
    text-align: center;
    font-size: 10pt;
    color: white;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}

footer img{
    width: 20px;
    height: 20px;
}

footer p{
    margin-top: 1px;
    margin-bottom: 2px;
}

footer h3{
    font-size: 10pt;
}

.conteudo{
    text-align: center;
    font-size: 10pt;
}

.conteudo img{
    width: 350px;
}